@page "/registration"

<h3>Registration</h3>

@if (ShowRegistrationError)
{
    <div class="alert alert-danger" role="alert">
        <p>@ErrorMessage</p>
    </div>
}

<EditForm Model="_userForRegistration" OnValidSubmit="Register" class="card card-body bg-light mt-3">
    <DataAnnotationsValidator />
    <div class="form-group row">
        <label for="username" class="col-md-2 col-form-label">Username:</label>
        <div class="col-md-10">
            <InputText id="username" class="form-control" @bind-Value="_userForRegistration.UserName"/>
            <ValidationMessage For="@(() => _userForRegistration.UserName)" />
        </div>
    </div>
    <div class="form-group row">
        <label for="email" class="col-md-2 col-form-label">Email:</label>
        <div class="col-md-10">
            <InputText id="email" class="form-control" @bind-Value="_userForRegistration.Email"/>
            <ValidationMessage For="@(() => _userForRegistration.Email)" />
        </div>
    </div>
    <div class="form-group row">
        <label for="password" class="col-md-2 col-form-label">Password:</label>
        <div class="col-md-10">
            <InputText type="password" id="password" class="form-control" @bind-Value="_userForRegistration.Password"/>
            <ValidationMessage For="@(() => _userForRegistration.Password)" />
        </div>
    </div>
    <div class="form-group row">
        <label for="confirm" class="col-md-2 col-form-label">Confirm Password:</label>
        <div class="col-md-10">
            <InputText type="password" id="confirm" class="form-control" @bind-Value="_userForRegistration.ConfirmPassword"/>
            <ValidationMessage For="@(() => _userForRegistration.ConfirmPassword)" />
        </div>
    </div>
    <div class="row my-2">
        <div class="col-sm-10 offset-sm-2">
            <div class="form-check">
                <InputCheckbox class="form-check-input add-ctg-checkbox" id="gridCheck1" @bind-Value="_userForRegistration.AddBaseCategories"/>
                <label class="form-check-label ml-3" for="gridCheck1">Add base categories</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-left">
            <button type="submit" class="btn btn-success">Register</button>
        </div>
    </div>
</EditForm>
