@page "/categories"
@attribute [Authorize]
@using FinanceAccounting.WebUI.Entities.DTO
@using FinanceAccounting.WebUI.Entities.Enums

<h3 class="text-center mb-3">Category List</h3>

@if (ShowError)
{
    <div class="alert alert-danger" role="alert">
        <p>@ErrorMessage</p>
    </div>
}

@if (UserCategories != null)
{
    <div class="row justify-content-center">
        <div class="col-8">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-outline-primary @(_displayedOperationType == OperationType.Income ? "active" : "")">
                    <input type="radio" name="options" id="option1" autocomplete="off" @onchange="() => _displayedOperationType = OperationType.Income"> Income
                </label>
                <label class="btn btn-outline-primary @(_displayedOperationType == OperationType.Expense ? "active" : "")">
                    <input type="radio" name="options" id="option2" autocomplete="off" @onchange="() => _displayedOperationType = OperationType.Expense"> Expense
                </label>
            </div>
            <a href="/categories/create" class="btn btn-primary align-items-center mb-3" style="float: right">Add new</a>
        </div>

        <table class="table table-striped col-8">
            <thead>
            <tr>
                <th scope="col" wigth="5%">#</th>
                <th scope="col" wigth="50%">Category name</th>
                <th scope="col" class="text-right align-middle pr-5">Actions</th>
            </tr>
            </thead>
            <tbody>
            @{ _counter = 0; }
            @foreach (CategoryDto category in UserCategories
                .Where(category => category.Type == _displayedOperationType)
                .OrderBy(c => c.CategoryName))
            {
                <tr>
                    <th scope="row" wigth="5%" class="align-middle">@(++_counter)</th>
                    <td wigth="50%" class="align-middle">@category.CategoryName</td>
                    <td class="text-right align-middle">
                        <a href="/categories/edit/@category.Id" class="btn btn-info mr-3">Edit</a>
                        <button type="button" class="btn btn-danger" @onclick="() => DeleteCategory_Click(category)">Delete</button>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}
else if (_loadFailed)
{
    <h2>Sorry, we could not load categories due to an error.</h2>
}
else
{
    <div class="spinner"></div>
}

<Confirmation ConfirmationChanged="ConfirmDeleteCategory_Click"
              ConfirmationMessage=@($"Are you sure you want to delete the \"{_categoryToDelete.CategoryName}\" category")
              @ref="DeleteConfirmation"></Confirmation>