@page "/operations"
@inherits FinanceAccounting.WebUI.Pages.Operations.BaseClasses.OperationsReportBase
@attribute [Authorize]
@using FinanceAccounting.WebUI.Entities.DTO
@using FinanceAccounting.WebUI.Entities.Enums


<h2 class="text-center mb-3">Operations</h2>

<div class="row d-flex justify-content-between">
    <div class="col-5 pl-0">
        <a class="btn btn-primary" href="/operations/add-new" role="button">Add new operation</a>
    </div>
    <div class="col-7">
        <DateInterval GenerateCommandHandler="OnGenerateCommand_Click"></DateInterval>
    </div>
</div>

@if (ShowError)
{
    <div class="alert alert-danger mt-2" role="alert">
        <p>@ErrorMessage</p>
    </div>
}

@if (_reportLoadingState == ReportLoadingState.Loaded)
{
    @if (!Report.Operations.Any())
    {
        <h3 class="text-center">No operations found</h3>
    }
    else
    {
        <div>
            <div class="row mb-1">
                <button class="btn btn-info mr-3" type="button" @onclick="EditOperation_Click">Edit</button>
                <button class="btn btn-danger" type="button" @onclick="() => DeleteConfirmation.Show()">Delete</button>
            </div>
            <div class="row">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col" style="width: 5%">#</th>
                        <th scope="col" class="sort-th" style="width: 17.5%" @onclick="() => SortOperationsBy(nameof(OperationDto.Date))">
                            Date
                            <span class="oi @SetSortIcon(nameof(OperationDto.Date))"></span>
                        </th>
                        <th scope="col" class="sort-th" style="width: 25%" @onclick="() => SortOperationsBy(nameof(OperationDto.CategoryName))">
                            Category
                            <span class="oi @SetSortIcon(nameof(OperationDto.CategoryName))"></span>
                        </th>
                        <th scope="col" class="sort-th text-right" style="width: 17.5%" @onclick="() => SortOperationsBy(nameof(OperationDto.Sum))">
                            Sum
                            <span class="oi @SetSortIcon(nameof(OperationDto.Sum))"></span>
                        </th>
                        <th scope="col" class="text-center" style="width: 35%">Details</th>
                    </tr>
                    </thead>
                    <tbody>
                    @{ _counter = 0 + PaginationData.PageSize * (PaginationData.CurrentPage - 1); }
                    @foreach (OperationDto operation in _displayedOperations)
                    {
                        if (_selectedOperationId == 0) _selectedOperationId = operation.Id;
                        <tr @onclick="() => _selectedOperationId = operation.Id" class="@(_selectedOperationId == operation.Id ? "bg-primary text-white" : "")">
                            <th scope="row" class="align-middle">@(++_counter)</th>
                            <td class="align-middle">@operation.Date.ToShortDateString()</td>
                            <td class="align-middle">@operation.CategoryName</td>
                            <td class="align-middle text-right">@operation.Sum.ToString("N2")</td>
                            <td class="align-middle pl-4">@operation.Details</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
            <div class="row d-flex justify-content-between">
                <div class="col">
                    <OperationTypeToggle @ref="Toggle" OperationTypeChanged="() => SetDisplayedOperations(1)"></OperationTypeToggle>
                </div>
                <div class="col">
                    <Pagination PaginationData="PaginationData" Spread="_paginationSpread" PageSelected="SetDisplayedOperations"/>
                </div>
            </div>
            <div class="row alert alert-primary mt-3 pt-3">
                <h5 class="col">Income: @Report.TotalIncome.ToString("N2")</h5>
                <h5 class="col">Expenses: @Report.TotalExpense.ToString("N2")</h5>
                <h5 class="col">Total: @((Report.TotalIncome - Report.TotalExpense).ToString("N2"))</h5>
            </div>
        </div>
    }
}
else if (_reportLoadingState == ReportLoadingState.Loading)
{
    <div class="spinner"></div>
}
else if (_reportLoadingState == ReportLoadingState.LoadFailed)
{
    <h2>Sorry, we could not load operations due to an error.</h2>
}

<Confirmation ConfirmationChanged="ConfirmDeleteOperation_Click"
              ConfirmationMessage=@("Are you sure you want to delete the operation")
              @ref="DeleteConfirmation"></Confirmation>